body {
  /*display: block;*/
  padding: 5%;
  background: gray;
  font: 12pt/10pt sans-serif;
}

.auth {
  text-align: center;
}

.currency_exchange {
  width:700px;
  float: left;
}
.block1 {
  box-sizing: border-box;
  padding: 20px;
  width:300px;
  float: left;
}
.block2 {
  box-sizing: border-box;
  padding: 20px;
  width:300px;
  float: left;
}
.history {
  box-sizing: border-box;
  padding: 20px;
  width:600px;
  float: left;
}
